@model CorretoraAbc.Presentation.Web.Models.GraficoViewModel


@{
    ViewData["Title"] = "Gráfico";
}

<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

    <div class="container">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/Home">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Grafico">Gráficos</a>
            </li>
        </ul>

        <h4 class="display-4">Gráfico</h4>
        <div id="containerEma" style="height: 500px; min-width: 310px"></div>
        <div id="containerMacd" style="height: 500px; min-width: 310px"></div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/indicators/indicators.js"></script>
    <script src="https://code.highcharts.com/stock/indicators/ema.js"></script>
    <script src="https://code.highcharts.com/stock/indicators/macd.js"></script>
    <script type="text/javascript">
        Highcharts.getJSON('@Model.FilePath', function (data) {
            Highcharts.stockChart('containerEma', {
                rangeSelector: {
                    selected: 1
                },
                title: {
                    text: 'EMA - ' + '@Model.Acao'
                },
                legend: {
                    enabled: true
                },
                plotOptions: {
                    series: {
                        turboThreshold: 0,
                        showInLegend: true
                    }
                },
                yAxis: [{
                    height: '50%'
                }, {
                    top: '60%',
                    height: '40%'
                }],
                series: [
                    {
                        type: 'ohlc',
                        id: 'xpto',
                        name: 'Cotação',
                        data: data
                    },
                    {
                        type: 'ema',
                        linkedTo: 'xpto',
                        params: {
                          period: 9
                        }
                    },
                    {
                        type: 'ema',
                        linkedTo: 'xpto',
                        params: {
                          period: 12
                        }
                    },
                    {
                        type: 'ema',
                        linkedTo: 'xpto',
                        params: {
                          period: 26
                        }
                    }
                ]
            });
            Highcharts.stockChart('containerMacd', {
                rangeSelector: {
                    selected: 1
                },
                title: {
                    text: 'MACD - ' + '@Model.Acao'
                },
                legend: {
                    enabled: true
                },
                plotOptions: {
                    series: {
                        turboThreshold: 0,
                        showInLegend: true
                    }
                },
                yAxis: [{
                    height: '40%'
                }, {
                    top: '60%',
                    height: '40%'
                }],
                series: [{
                        type: 'ohlc',
                        id: 'xpto',
                        name: 'Cotação',
                        data: data
                    },
                    {
                        yAxis: 1,
                        type: 'macd',
                        linkedTo: 'xpto'
                }]
            });
        });
    </script>
</body>
</html>

